{% load static %}
<html>
	<head>
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Last-Modified" content="0">
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">

		<link rel="shortcut icon" href="">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
		

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


		<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
		<link href="https://allfont.es/allfont.css?fonts=dosis-semibold" rel="stylesheet" type="text/css" />
		<link href="https://allfont.es/allfont.css?fonts=dosis-extrabold" rel="stylesheet" type="text/css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'css/Base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/Home.css' %}" />
		<link rel="stylesheet" href="{% static 'css/Pedidos.css' %}?version=3" />
		<link rel="stylesheet" href="{% static 'css/Producto.css' %}?version=2" />
		<link rel="stylesheet" href="{% static 'css/Login.css' %}?version=1" />
		<link rel="stylesheet" href="{% static 'css/Contacto.css' %}" />
		<link rel="stylesheet" href="{% static 'css/Sobre_Mi.css' %}" />

		<title>Dellepianes</title>
	</head>
	
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
		
		<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

		<div style="text-align: center;">
			<ul style="float: right; padding-top: 25px; height: auto;">
					<li><a href="https://www.facebook.com/martina.dellepiane.520"><img class="Icon" src="{% static 'Imagenes/Facebook_Icon.png' %}" ></a></li>

					<li><a href="https://twitter.com/DellepianesB"><img class="Icon" src="{% static 'Imagenes/Twitter_Icon.png' %}"></a></li>

					<li><a href="https://ar.pinterest.com/inesdellepiane/boards/"><img class="Icon" src="{% static 'Imagenes/Pinterest_Icon.png' %}"></a></li>

					<li> <a href="https://www.instagram.com/dellepianes.bakehouse/"><img class="Icon" src="{% static 'Imagenes/Instagram_Icon.png' %}"></a></li>
			</ul>
			<ul style="margin: auto; padding: 10px; padding-top: 25px; width: 1000px;">
				{% if user.is_authenticated %}
					{% if user.first_name %}
						<li> <img style=" height: 60px; width: 60px;" src="{% static 'Imagenes/Cuenta_Icono.png' %}"> {{user.first_name}}</li>
					{% else %}
						<li> <img style=" height: 60px; width: 60px;" src="{% static 'Imagenes/Cuenta_Icono.png' %}"> {{user.username}} </li>
					{% endif %}
				{%endif%}
				<li><a href="{% url 'Home' %}"> Inicio </a> </li>
				<li><a href="{% url 'Sobre_Mi' %}"> Sobre mi </a></li>
				<li><a href=""> Recetas </a></li>
				<li><a href="{% url 'Pedidos' %}"> Pedidos </a></li>
				<li><a href="{% url 'Contacto' %}"> Contacto </a></li>
				
				{%if not user.is_authenticated %}
					<li><a href="{% url 'account_login'%}">Iniciar sesion </a></li>
				{%else%}
					<li><a href="{%url 'Perfil'%}">Mi Cuenta</a></li>
					<li><a href="{% url 'account_logout' %}">Cerrar sesion</a></li>
				{%endif%}
			</ul>
			
		</div>

		<hr style="margin-bottom: 0px;">
		{% block content %}
		{% endblock %}

		{% block content_extra %}
		{% endblock %}
	
		{% block extra_body %}
		{% endblock %}
		
	</body>
</html>