{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div style="text-align: center; background-color: #FFEBEB; ">
		<div style="height: 250px; text-align: center;">
			<div style="margin: auto; padding: 125px">
				<p><b>Contacto</b></p>
			</div>
		</div>
	</div>
	<hr style="width: 50px; border-width: 1px">

	<div class="contacto text-center">
		<p><b>115388864 - 1134298173 | dellepianes.bakehouse@gmail.com</b></p>
	</div>

	<br>
	<br>
	<br>

	<div class="text-center">
		<p style="font-size: 20px;">No dudes en contactarnos, estamos para ayudarte a agasajar, disfrutar y compartir con amigos y la familia</p>
	</div>
	

{% endblock %}
