{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div style="text-align: center; ">
		<div class="Historia">
			<img class="Fondo" src="{% static 'Imagenes/Dellepiane.jpg' %}">
			<p class="sobre_mi">A menudo se nos pregunta donde y como obtenemos ideas para el sabor, la textura y las combinaciones de sabores. Estas sabrosas creaciones que conforman nuestra marca. Para Dellepiane's Bakehouse la inspiracion proviene de su debilidad por los dulces, el placer. Las sensaciones, los encuentros, las fragancias y las texturas. Sentimos curiosidad por todo y todo nos inspira para poder brindarte lo mejor para agasajar a tus seres mas queridos</p>
		</div>
	</div>
	

{% endblock %}
