{% load cart_tags %}

<table class="table table-bordered" style="background-color: white; ">
	<thead>
		<tr>
			<th colspan="3" class="text-center">
				Carrito de compras
			</th>
		</tr>

		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Acciones</th>
		</tr>
	</thead>

	<tbody>
		{% if request.session.cart.items %}
			{% for key,value in request.session.cart.items %}
				<tr class="text-center">
					<td>{{value.Nombre}}</td>
					<td>{{value.Cantidad}}</td>
					<td>
						<a href="{% url 'cart:add_producto' value.producto_id %}" class="btn btn-sm btn-success">
							+
						</a>
						<a href="{% url 'cart:decrement_producto' value.producto_id %}" class="ml-2 btn btn-sm btn-danger">
							-
						</a>
						Total {{ value.Precio|multiply:value.Cantidad|money_format:"$" }}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="3">
					<div class="alert alert-danger text-center">
						No tienes produtos en el carrito 
					</div>
				</td>
			</tr>
		{% endif %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">
				Total {{ cart_total_amount|money_format:"$"}}
			</td>
		</tr>
		{% if request.session.cart.items %}
			<tr>
				<td colspan="3">
					<a href="{%url 'process_pedido'%}" class="btn btn-success"> Crear pedido</a>
					<a href="{% url 'cart:clear_producto'%}" class="btn btn-danger"> Vaciar carrito </a>
				</td>
			</tr>
		{% endif %}
	</tfoot>
</table>