{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_links %} 

<title>Dellepianes</title>

{% endblock %}

{% block head_title %}{% trans "Cambio de contraseña" %}{% endblock %}

{% block content_extra %}
	<div class="container-fluid">		
		<div class="Imagen1"> 
			<img src="{% static 'Imagenes/Dulce1.png' %}">
		</div>

		<div class="Imagen2">
			<img src="{% static 'Imagenes/Dulce2.png' %}">
		</div>

		<div class="RecuadroLogin">
			<div class="row wor">
				<div class="Tablero">
					{% if user.is_authenticated %}
						
						{% include "account/snippets/already_logged_in.html" %}
						{% block content %} {% endblock %}
					
						{% else %}
						<h3 class="h3 text-center" id="head_banner">{% trans "Cambio de contraseña" %}</h3>
						<p class="forgot_password_info text-center" >{% trans "Olvidaste tu contraseña? Ingresa tu correo electronico y nosotros te enviaremos un email para poder cambiar la contraseña." %}</p>

						<form method="POST" class="text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}"><b>
							{% csrf_token %}
							{{ form.as_p }}
							<input class="btn btn-outline-primary " type="submit" value="{% trans 'Reset My Password' %}" />
						</b></form>

						<p class="forgot_password_info text-center" >{% blocktrans %} Porfavor contacta con nosotros si tuviste algun tipo de problema al cambiar tu contraseña.{% endblocktrans %}</p>

					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
